@model IEnumerable<ArticleManagement.Models.Author>

@{
    ViewBag.Title = "Tác giả";
}

<h2>Tác giả</h2>

<p>
    @Html.ActionLink("Thêm tác giả", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Reverse()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorId })
        </td>
    </tr>
}

</table>
